<div>
  <div>
    <div class="import-section">
      <div>
        <label
          >Import CSV:
          <input type="file" (change)="onFileSelected($event, 'csv')"
        /></label>
        <button (click)="importFile(this.csvFile, 'csv')">Upload CSV</button>
      </div>
      <div>
        <label
          >Import XML:
          <input type="file" (change)="onFileSelected($event, 'xml')"
        /></label>
        <button (click)="importFile(this.xmlFile, 'xml')">Upload XML</button>
      </div>
    </div>
  </div>
  <div>
    @for (businessCard of this.previewData; track $index) {
    <div>
      <p>{{ businessCard.name }}</p>
      <p>{{ businessCard.gender }}</p>
      <p>{{ businessCard.dateOfBirth }}</p>
      <p>{{ businessCard.email }}</p>
      <p>{{ businessCard.phone }}</p>
      <p>{{ businessCard.address }}</p>
      <img
        [src]="'data:image/jpeg;base64,' + businessCard.photo"
        [style.width.px]="150"
        [style.height.px]="150"
        style="object-fit: cover; border-radius: 8px"
        alt="User Photo"
      />
    </div>
    }
  </div>
</div>
